## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_search_df_to_load = os.path.join("..","Vacation_Search","WeatherPy_vacation.csv")
vacation_df = pd.read_csv(vacation_search_df_to_load)
vacation_df.head(11)

,City_ID,City,Country,Max Temp,Cloudiness,Lat,Lng,Hotel Name
0,3,Bathsheba,BB,84.81,75,13.2167,-59.5167,Atlantis Hotel
1,7,Mahebourg,MU,81.25,40,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,17,Grand Gaube,MU,81.37,89,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
3,24,Arraial Do Cabo,BR,80.56,40,-22.9661,-42.0278,Pousada Porto Praia
4,27,Puerto Ayora,EC,80.56,91,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,39,Acari,PE,80.62,39,-15.4311,-74.6158,HOSPEDAJE XIMENA
6,50,Bambous Virieux,MU,81.21,40,-20.3428,57.7575,Casa Tia Villa
7,53,Avarua,CK,82.45,20,-21.2078,-159.7750,Paradise Inn
8,55,San Felipe,VE,80.80,95,10.3399,-68.7425,Posada Llovizna Rodríguez
9,59,Isangel,VU,80.71,40,-19.5500,169.2667,Tanna Lodge
10,65,Faanui,PF,80.71,100,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Nikki"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Nikki"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Kombissiri"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Bentiu"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] =="Sokoni"]

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_directions = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Cloudiness,Lat,Lng,Hotel Name
0,571,Nikki,BJ,82.44,28,9.9401,3.2108,Hotel John
1,488,Kombissiri,BF,80.58,6,12.0656,-1.3375,Mitibkieta Annexe
2,586,Bentiu,SS,81.54,3,9.2333,29.8333,Mandela hôtel
3,583,Sokoni,TZ,80.89,97,-6.4333,39.5500,Ujamaa Beach Resort

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))